* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #f2f2f2;
    background-color: #556273;
    text-align: center;
    padding: 2rem;

}

h2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

h3 {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.main {
    background-color: #8a99a6;
    text-align: center;
}

.choice {
    padding-top: 1rem;
}
